<!DOCTYPE html>
<html>
  <head>
    <title>MusicCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('soundcloud-logo.png') %>";
      window.cameraImgURL = "<%= image_url('camera-upload.png') %>";

    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('soundcloud.ico') %>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
